.tabs-person{
    display: block;
    text-transform: uppercase;
    font-size: 1.3rem;
    padding: .4rem 3rem;
    cursor: pointer;
    transition: all 300ms;
    margin-bottom: 1rem;
    border: none;
    background-color: transparent;
}

.tabs-person:hover{
    box-shadow: -2px 0 #2caeba;
    color: #2caeba;
}

.tabs-person.selected{
    box-shadow: -2px 0 #2caeba;
    color: #2caeba;
}


.tabs-nav{
    margin: 0 4.5rem;
}