body{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f1f5f8;;
}
main{
    display: flex;
    margin-top: 5rem;
}
.title{
    font-weight: 700;
    font-size: 2.5rem;
    text-align: center;
    text-transform: capitalize;
    margin-top: 3rem;
}

.tabs-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-basis: 70%;
}

.person-career{
    font-size: 1.7rem;
    letter-spacing: .2rem;
    text-transform: capitalize;
    font-weight: 600;
}

.person-name{
    display: inline-block;
    background-color: #ccc;
    color: #102a42;
    font-weight: 700;
    text-transform: uppercase;
    padding: .2rem .5rem;
    width: min-content;
}
.person-data{
    display: block;
    color: #617d98;
    text-transform: capitalize;
    font-size: 1.15rem;
}

.person-info{
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-direction: column;
}

.person-info .icon{
    color: #2caeba;
    font-size: 1.3rem;
    min-width: fit-content;
}

.person-info-text{
    color: #324d67;
    font-size: 1.15rem
}

.person-icon-and-text-wrapper{
    display: flex;
    align-items: center;
    gap: 1.3rem;
}

.tabs-button{
    padding: .45rem 3rem;
    font-size: .9rem;
    background-color: #2caeba;
    color: white;
    border: none;
    text-transform: uppercase;
    width: max-content;
    border-radius: 3px;
    display: grid;
    margin: 5rem auto;
    font-weight: 600;
    cursor: pointer;

}